@model  ML.Materia
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h2>Materia</h2>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h5>Seleccione una materia para editarla o el boton + para agregar una materia...</h5>
            <hr />
        </div>
    </div>

    @*<div class="row">*@
    <div style="float:right;">
        @Html.ActionLink("+", "Form", "Materia", htmlAttributes: new { @class = "btn btn-success" })

    </div>
    @if (Model.Materias == null)
    {
        <div class="p-3 mb-2 bg-danger text-white">Aun no hay materias registradas</div>
    }
    else
    {
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <td class="text-center">Editar</td>

                    <td class="hidden">IdMateria</td>
                    <td class="text-center">Nombre</td>
                    <td class="text-center">Costo</td>
                    <td class="text-center">Creditos</td>
                    <td class="text-center">Descripción</td>
                    <td class="text-center">Eliminar</td>
                </tr>
            </thead>
            <tbody>

                @foreach (ML.Materia materia in Model.Materias)
                {
                    <tr>
                        <td class="text-center"><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "Materia", new { IdMateria = materia.IdMateria })"></a></td>

                        <td class="hidden">@materia.IdMateria</td>
                        <td class="text-center">@materia.Nombre</td>
                        <td class="text-center">@materia.Costo</td>
                        <td class="text-center">@materia.Creditos</td>
                        <td class="text-center">@materia.Descripcion</td>

                        <td class="text-center"><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Materia", new { IdMateria = materia.IdMateria})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>
                    </tr>
                }
            </tbody>
        </table>
    }


</div>


